body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
.me{
    color:orange
}

.flexible{
    display: flex;
    margin-bottom: 130px;
}

.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.half{
    width: 50%;
    padding-left: 2%;
}
.half img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 800;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.webdeveloper{
    box-shadow: 10px 10px 20px  gray;
    width: 40%;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    padding left: 2px;
    
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
    
}
#baby{
    border-left: 10px solid;
    border-image: linear-gradient(rgb(13, 13, 224),rgb(19, 228, 228));
    border-image-slice: 1;
}

#full-stack{
    border-left: 10px solid;
    border-image: linear-gradient( rgb(233, 97, 43), tomato);
    border-image-slice: 1;    
}
footer p{
    text-align: center;
}